[submodule "3rdparty/singleapplication"]
	path = 3rdparty/singleapplication
	url = git://github.com/itay-grudev/SingleApplication.git
[submodule "3rdparty/qautostart"]
	path = 3rdparty/qautostart
	url = https://github.com/b00f/qautostart.git
