[Desktop Entry]
Comment=A desktop client for the Dana learning box.
Exec=dana
GenericName=Dana
Icon=dana_96.png
Name=dana
NoDisplay=false
StartupNotify=true
Terminal=false
Type=Application
Categories=Education;Qt;

