#include "verrsrc.h"

IDI_ICON1               ICON    DISCARDABLE     "dana.ico"

/////////////////////////////////////////////////////////////////////////////
//
// Version
//



#define VER_VERSION                 1,1,0,0
#define VER_VERSION_STR             "1,1,0,0\0"
#define VER_COMPANYNAME_STR         "Dana"
#define VER_FILEDESCRIPTION_STR     "Dana"
#define VER_INTERNALNAME_STR        "dana.exe"
#define VER_LEGALCOPYRIGHT_STR      "Copyright (C) 2014"
#define VER_ORIGINALFILENAME_STR    "dana.exe"
#define VER_PRODUCTNAME_STR         "Dana"


#ifndef DEBUG
#define VER_DEBUG                   0
#else
#define VER_DEBUG                   VS_FF_DEBUG
#endif

VS_VERSION_INFO VERSIONINFO
FILEVERSION    	VER_VERSION
PRODUCTVERSION 	VER_VERSION
FILEFLAGSMASK  	VS_FFI_FILEFLAGSMASK
FILEFLAGS      	VER_DEBUG
FILEOS         	VOS_NT_WINDOWS32
FILETYPE       	VFT_APP
FILESUBTYPE    	VFT2_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904E4"
        BEGIN
            VALUE "CompanyName",      VER_COMPANYNAME_STR
            VALUE "FileDescription",  VER_FILEDESCRIPTION_STR
            VALUE "FileVersion",      VER_VERSION_STR
            VALUE "InternalName",     VER_INTERNALNAME_STR
            VALUE "LegalCopyright",   VER_LEGALCOPYRIGHT_STR
            VALUE "OriginalFilename", VER_ORIGINALFILENAME_STR
            VALUE "ProductName",      VER_PRODUCTNAME_STR
            VALUE "ProductVersion",   VER_VERSION_STR
        END
    END
END
