[Desktop Entry]
Comment=A desktop client for the Dana learning box.
Exec=/home/mostafa/Projects/dana/source/dana
GenericName=Dana
Icon=dana_96
Name=Dana
NoDisplay=false
StartupNotify=true
Terminal=false
Type=Application
Categories=GTK;GNOME;Development;Education;Qt;

